*{
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}
body{
  overflow-x: hidden;
}

.navbar {
  margin-top: 0px;

  display: flex;
}

img {
  padding-top: 15px;
  width: 130px;
  margin-left: 60px;

}
.title {
  font-size: 56px;
  font-weight: 200;
  line-height: 67.2px;
  color: rgb(143, 88, 73);
  margin-left: 60px;
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", "Fira Sans", Ubuntu, Oxygen, "Oxygen Sans", Cantarell,
    "Droid Sans", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol", "Lucida Grande", Helvetica, Arial, sans-serif;
    position: relative;
}
.form {
  margin-left: 60px;
  display: flex;
}
.input {
  padding: 14px 16px;
  color: red;
  width: 448px;
  margin-bottom: 15px;
}
.formbtn {
  width: 448px;
  padding: 12px 24px;
  border-radius: 25px;
  background: rgb(10, 102, 194);
  border: rgb(10, 102, 194);
  color: rgb(255, 255, 255);
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", "Fira Sans", Ubuntu, Oxygen, "Oxygen Sans", Cantarell,
    "Droid Sans", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol", "Lucida Grande", Helvetica, Arial, sans-serif;
}
.mainbtn3 {
  width: 448px;
  padding: 12px 24px 12px 10px;
  border-radius: 25px;
  border: 2px solid rgba(0, 0, 0, 0.6);
  background-color: #fff;
  font-size: 16px;
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", "Fira Sans", Ubuntu, Oxygen, "Oxygen Sans", Cantarell,
    "Droid Sans", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol", "Lucida Grande", Helvetica, Arial, sans-serif;
}
.mainbtn2 {
  text-align: center;
  width: 448px;
  padding: 12px 24px 12px 10px;
  border-radius: 25px;
  border: 2px solid rgba(0, 0, 0, 0.6);
  background-color: #fff;
  font-size: 16px;
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", "Fira Sans", Ubuntu, Oxygen, "Oxygen Sans", Cantarell,
    "Droid Sans", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol", "Lucida Grande", Helvetica, Arial, sans-serif;
}
.password {
  padding: 14px 16px;
 
  width: 448px;
  margin-bottom: 15px;
}
.forgotpassword:hover{
  text-decoration: underline;
}
.img2 {
  width: 600px;
  height: 600px;
  margin-left: 200px;
  object-fit: cover;
  
  position: absolute;
  right:20px;
  top: 60px;


}
h2 {
  width: 448px;
  text-align: center;
  border-bottom: 1px solid #000;
  line-height: 0.1em;
  margin: 10px 0 20px;
  color: rgba(0, 0, 0, 0.6);
}

h2 span {
  background: #fff;
  padding: 0px 10px;
  font-size: 20px;
  color: rgba(0, 0, 0, 0.6);
}
.line {
  border-left: 1px solid rgba(0, 0, 0, 0.6);
  height: 24px;
  margin-top: 20px;
}
ul {
  padding-left: 0px;

  text-align: right;
  list-style-type: none;
  display: flex;
  margin-left: 400px;
  padding: 10px 50px;
}
.icon7 h3{
  content: " ";
  width: 4px;
  height: 2.5rem;
  border-left: 2px solid rgba(0, 0, 0, 0.6);
}
.icons li {
  display: flex;
  justify-content: space-between;
  margin-right: 60px;

}
.person {
  position: absolute;
  left: 940px;
  top: 55px;
}

 .btn {
  margin-top: 8px;
} 
.signbtn {
  border: 2px solid rgb(10, 102, 194);
  color: rgb(10, 102, 194);
  border-radius: 25px;
  padding: 12px 24px;
  background-color: white;
  font-size: 16px;
  min-height: 48px;
  height: 48px;
  line-height: 24px;
  margin-top: 8px;
  margin-bottom: 8px;
  
} 
 .joinbtn {
  background-color: white;
  border: white;
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", "Fira Sans", Ubuntu, Oxygen, "Oxygen Sans", Cantarell,
    "Droid Sans", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol", "Lucida Grande", Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  text-align: center;
  text-decoration-color: rgba(0, 0, 0, 0.75);
  margin-right: 15px;
} 
.forgotpassword{
  text-decoration: none;
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", "Fira Sans", Ubuntu, Oxygen, "Oxygen Sans", Cantarell, "Droid Sans", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Lucida Grande", Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 20px;
  color: rgb(10, 102, 194);
}
.spansignin{
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", "Fira Sans", Ubuntu, Oxygen, "Oxygen Sans", Cantarell,
    "Droid Sans", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol", "Lucida Grande", Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-weight: 600;
}

.spangoogle,.spannewtolinkedin{
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto,
  "Helvetica Neue", "Fira Sans", Ubuntu, Oxygen, "Oxygen Sans", Cantarell,
  "Droid Sans", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Emoji",
  "Segoe UI Symbol", "Lucida Grande", Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 600;
}
.gridcontainer{
  display: grid;
  column-gap: 50px;
  grid-template-columns: auto auto ;
  background-color: #f3f2f0;
  padding: 60px 0px;
}
.griditem1{
  padding-top: 60px;
}
.gridp{
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", "Fira Sans", Ubuntu, Oxygen, "Oxygen Sans", Cantarell, "Droid Sans", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Lucida Grande", Helvetica, Arial, sans-serif;
  font-size: 48px;
  font-weight: 200;
  line-height: 60px;
  vertical-align: baseline;
  color: rgba(0, 0, 0, 0.9);
  margin-left: 60px;
 
}
.gridp2,.gridcontainer2p{
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", "Fira Sans", Ubuntu, Oxygen, "Oxygen Sans", Cantarell, "Droid Sans", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Lucida Grande", Helvetica, Arial, sans-serif;
  font-size: 20px;
  font-weight: 200;
  line-height: 30px;
  vertical-align: baseline;
  margin-left: 60px;

}

.griditem1 button{
  padding: 12px 24px;
  border-radius: 25px;
}
.gridspan{
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", "Fira Sans", Ubuntu, Oxygen, "Oxygen Sans", Cantarell, "Droid Sans", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Lucida Grande", Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  text-align: center;
  text-decoration-color: rgba(0, 0, 0, 0.75);
}
.gridcontainer1{
  display: grid;
  column-gap: 50px;
  grid-template-columns: auto auto ;
  background-color: rgba(0, 0, 0, 0);
  padding: 60px 0px;
}

.grid1item2 button{
  padding :12px 24px;
  border-radius: 25px;
  border: 1px solid black;
}
.grid1item2 button:hover,.griditem1 button:hover{
  background-color: lightgray;
}
.grid1p{
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", "Fira Sans", Ubuntu, Oxygen, "Oxygen Sans", Cantarell, "Droid Sans", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Lucida Grande", Helvetica, Arial, sans-serif;
  font-size: 48px;
  font-weight: 200;
  line-height: 60px;
  vertical-align: baseline;
  color: rgba(0, 0, 0, 0.9);
  margin-left: 60px;
}
.gridcontainer2{
  display: grid;
  column-gap: 50px;
  grid-template-columns: auto auto;
  background-color: #f1ece5;
  padding: 60px 0px;
}
.gridcontainer2p{
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", "Fira Sans", Ubuntu, Oxygen, "Oxygen Sans", Cantarell, "Droid Sans", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Lucida Grande", Helvetica, Arial, sans-serif;
  font-size: 48px;
  font-weight: 200;
  line-height: 60px;
  vertical-align: baseline;
  color:rgb(178, 64, 32);
  margin-left: 60px;
}
.gridcontainer2button{
  padding: 12px 24px;
  border: 1px solid rgb(10, 102, 194);
  margin-top: 80px;
  border-radius: 25px;
  background-color: white;

}
.gridcontainer3{
  display: grid;
  column-gap: 50px;
  grid-template-columns: auto auto;
  padding: 60px 0px;
  position: relative;
  background-color: #f3f2f0;
}
.grid3p1{
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", "Fira Sans", Ubuntu, Oxygen, "Oxygen Sans", Cantarell, "Droid Sans", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Lucida Grande", Helvetica, Arial, sans-serif;
  font-size: 40px;
  font-weight: 400;
  line-height: 50px;
  text-align: left;
  vertical-align: baseline;
  color: rgb(143, 88, 73);
  margin-left: 60px;

}
.grid3p2{
  font-family:-apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", "Fira Sans", Ubuntu, Oxygen, "Oxygen Sans", Cantarell, "Droid Sans", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Lucida Grande", Helvetica, Arial, sans-serif;
  font-size: 32px;
  font-weight: 200;
  line-height: 40px;
  text-decoration: left;
  vertical-align: baseline;
  color: rgba(0, 0, 0, 0.9);
  margin-left: 60px;
  
}

.grid3button{
width: 40px;
height: 40px;
position: absolute;
top:300px;
right: 40px;
align-items: center;
border-radius: 50px;
background-color: black;
}
.grid3item2 img{
  padding-top: 30px;
  width: 450px;
}
.gridcontainer4{
  display: grid;
  grid-template-columns: auto auto;
  column-gap: 50px;
  padding: 60px 0px;
 
}
.grid4item1 img,.grid4item2 img{
  width: 504px;
  height: 548px;
  padding-top: 40px;
  margin-left: 60px;
}
.grid4p1,.grid4item2p1{
  font-size: 48px;
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", "Fira Sans", Ubuntu, Oxygen, "Oxygen Sans", Cantarell, "Droid Sans", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Lucida Grande", Helvetica, Arial, sans-serif;
  font-weight: 200;
  line-height: 60px;
  vertical-align: baseline;
  margin-left: 60px;
}
.grid4button{
  height: 48px;
  margin-bottom: 12px;
  padding: 12px 24px;
  margin-left: 60px;
  border-radius:25px;
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", "Fira Sans", Ubuntu, Oxygen, "Oxygen Sans", Cantarell, "Droid Sans", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Lucida Grande", Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  text-align: center;
  text-decoration-color: rgba(0, 0, 0, 0.75);
  background-color: white;
}
.grid4item2button{
  height: 48px;
  margin-bottom: 12px;
  padding: 12px 24px;
  margin-left: 60px;
  
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", "Fira Sans", Ubuntu, Oxygen, "Oxygen Sans", Cantarell, "Droid Sans", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Lucida Grande", Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  text-align: center;
  text-decoration-color: rgba(0, 0, 0, 0.75);
  background-color: white;
}
.grid4item2button:hover,.grid4button:hover{
  background-color: lightgray;
}
.gricontainer5{
  display: grid;
  grid-template-columns: auto auto;
  column-gap: 50px;
  padding: 60px 0px;
 
}
.grid5p1{
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", "Fira Sans", Ubuntu, Oxygen, "Oxygen Sans", Cantarell, "Droid Sans", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Lucida Grande", Helvetica, Arial, sans-serif;
  font-size: 40px;
  font-weight: 400;
  line-height: 50px;
  vertical-align: baseline;
  color: rgb(178, 64, 32);
  margin-left: 60px;
}
.grid5p2{
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", "Fira Sans", Ubuntu, Oxygen, "Oxygen Sans", Cantarell, "Droid Sans", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Lucida Grande", Helvetica, Arial, sans-serif;
  font-size: 40px;
  font-weight: 200;
  line-height: 50px;
  vertical-align: baseline;
  color:rgba(0, 0, 0, 0.9);
  margin-left: 60px;

}
.grid5item1 button{
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", "Fira Sans", Ubuntu, Oxygen, "Oxygen Sans", Cantarell, "Droid Sans", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Lucida Grande", Helvetica, Arial, sans-serif;
  font-size: 20px;
  font-weight: 400;
  text-align: left;
  text-decoration-color:rgba(0, 0, 0, 0.9) ;
  padding: 16px;
  width: 408px;
  height: 61px;
  background-color: #eae6df;
  border: 1px solid #eae6df;
  margin-left: 60px;
}
.grid5item1 button:hover{
  background-color: rgb(194, 186, 176);
}
.grid5item1{
  padding-top: 200px;
  padding-bottom: 200px;
  background-color: #f3f2f0;;
  margin-right: 100px;
  width: 700px;
}
.grid5item2 img{
  left: 800px;
  position: absolute;
  height:1000px;
  width: 1000px;
  right: 10px;
  object-fit: cover;

  
  

}
.grid6{
  margin-top: 200px;
  background-image: url("images/grid6.png");
  width: 100%;
  height: 1024px;
}
.grid6p1{
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", "Fira Sans", Ubuntu, Oxygen, "Oxygen Sans", Cantarell, "Droid Sans", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Lucida Grande", Helvetica, Arial, sans-serif;
  font-size: 56px;
  font-weight: 200;
  line-height: 70px;
  vertical-align:baseline;
  color:rgba(0, 0, 0, 0.9);
  margin-left: 60px;
}
.grid6btn{
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", "Fira Sans", Ubuntu, Oxygen, "Oxygen Sans", Cantarell, "Droid Sans", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Lucida Grande", Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  text-align: center;
  color:rgb(255, 255, 255);
  background-color: rgb(10, 102, 194);
  padding: 12px 24px;
  margin-left: 60px;
  border-radius: 25px;
  border: 1px solid rgb(10, 102, 194);
  margin-top: 15px;


}
.grid7{
  margin-top: 200px;
  width: 100%;
  height: 730px;
  background-color: #ffffff;
}
.gridbackground{
  width: 850px;
  height:600px;
  
  position: absolute;
  right: 0px;
  background-color: #f4faff;
  
}
.grid7img{
  padding-top: 90px; 
  display: flex;
  position: absolute;
  left: 60px;
  height: 450px;
  width: 500px;
}
.grid7p1{
  padding-left: 200px;
  padding-top: 120px;
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", "Fira Sans", Ubuntu, Oxygen, "Oxygen Sans", Cantarell, "Droid Sans", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Lucida Grande", Helvetica, Arial, sans-serif;
  font-size: 40px;
  font-weight: 400;
  line-height: 50px;
  color: rgb(178, 64, 32);
 

}
.grid7p2{
  padding-left: 200px;
  padding-top: 30px;
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", "Fira Sans", Ubuntu, Oxygen, "Oxygen Sans", Cantarell, "Droid Sans", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Lucida Grande", Helvetica, Arial, sans-serif;
  font-size: 40px;
  font-weight: 400;
  line-height: 50px;
  color: rgba(0, 0, 0, 0.9);
}
.grid8{
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  column-gap: 50px;
  padding-top: 60px 0px;
  background-color: #f3f2f0;
}
.para1{
  padding-top: 20px;
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", "Fira Sans", Ubuntu, Oxygen, "Oxygen Sans", Cantarell, "Droid Sans", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Lucida Grande", Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
  vertical-align: baseline;
  color: rgba(0, 0, 0, 0.9);
  margin-bottom: 10px;
}
.child{
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", "Fira Sans", Ubuntu, Oxygen, "Oxygen Sans", Cantarell, "Droid Sans", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Lucida Grande", Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: 600;
  line-height: 17.5px;
  text-align: left;
  color: rgba(0, 0, 0, 0.6);
  margin-bottom: 10px;


}
.grid9{
  display: grid;
  grid-template-columns: auto auto auto auto auto auto auto auto auto auto auto auto auto;
}
.grid9 img{
  width: 80px;
}
.grid9para1{
  padding-top: 17px;
  
}
.grid9 a{
  text-decoration: none;
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", "Fira Sans", Ubuntu, Oxygen, "Oxygen Sans", Cantarell, "Droid Sans", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Lucida Grande", Helvetica, Arial, sans-serif;
  font-size: 12px;
  font-weight: 600;
  line-height: 18px;
  text-align: left;
  color: rgba(0, 0, 0, 0.6);
}
.grid9 a:hover{
  text-decoration: underline;
}

.icons{
  display: flex;
  
  margin-left: 350px;
  padding-top:35px;
}

.fasicon{
  
  margin-right: 60px;
  color: rgba(0, 0, 0, 0.6);
  font-size: 25px;
}

.password::placeholder{
  text-align: right;
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", "Fira Sans", Ubuntu, Oxygen, "Oxygen Sans", Cantarell, "Droid Sans", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Lucida Grande", Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 600;
  color: rgb(10, 102, 194);
}
.grid1item2p{
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", "Fira Sans", Ubuntu, Oxygen, "Oxygen Sans", Cantarell, "Droid Sans", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Lucida Grande", Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
  margin-bottom: 20px;
}